@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100;1,400&family=Ubuntu:wght@400;700&display=swap');
html,
body {
  height: 100%;
}
body {
  background: #f8f9fa;
  font-family: 'Lato', sans-serif;
}
section {
  height: 100%;
  min-height: 100%;
}
section.landing {
  background: #dddedf;
}
section#works {
  min-height: 100%;
}
.brand {
  font-family: 'Ubuntu', sans-serif;
}
.branding-light {
  background: url(../images/ri-light.png) no-repeat center center;
  background-size: cover;
  height: 256px;
  width: 256px;
  margin: auto;
  text-indent: -9999px;
  display: block;
}
.branding-dark {
  background: url(../images/ri-dark.png) no-repeat center center;
  background-size: cover;
  height: 256px;
  width: 256px;
  margin: auto;
  text-indent: -9999px;
  display: block;
}
.branding-green {
  background: url(../images/ri-green.png) no-repeat center center;
  background-size: cover;
  height: 256px;
  width: 256px;
  margin: auto;
  text-indent: -9999px;
  display: block;
}
.call {
  height: 32px;
  width: 32px;
  background: url(../images/call.png) no-repeat center left;
  background-size: cover;
  margin-right: .5rem;
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  top: -5px;
}
